db
simulation
incremental_db
output_files
greybox_tmp
*.stp
.qsys_edit
*.d
*.o
*.rpt
pcie_de_ep_dma_g3x8_integrated.sopcinfo
pcie_de_ep_dma_g3x8.sopcinfo
/IP/*
!/IP/*.qip
!/IP/*.qsys
!/IP/dma_pcie_gen3x8/*.qsys
!/IP/dma_pcie_gen3x8/pcie_de_ep_dma_g3x8_integrated/synthesis/*.qip
!/IP/dma_pcie_gen3x8/pcie_de_ep_dma_g3x8_integrated/synthesis/*.v
/nios/*
!/nios/synthesis/*.qip

/software/*
!/software/hdmi_test/
!/software/test7_bsp/
!/software/hdmi/
!/software/hdmi/rtl/
!/software/hdmi/tb/
!/software/hdmi/HDMI_Lib/
!/software/hdmi/terasic_lib/

/software/hdmi/modelsim
*.elf
*.objdump
*.wlf
